
body{
  background: #e7a6a6;
}

.App{
  width:50%;
  border-radius: 20px;
  padding:10px;
  background: #b9b9f7;
  margin:100px auto;

}

.App img{
  width:15%;
  display: block;
  margin: auto;
}

.closeIcon{
  position: absolute;
  top:15px;
  right: 15px;
  background: crimson;
  border-radius:50%;
  cursor:pointer;
  width:45px;
  height:45px;
  text-align: center;
  line-height: 45px;
  color:wheat

}

.react-datepicker-wrapper,
.react-datepicker_input-container{
    display: block;
}
.reminder_title{
  font-weight: bold;
  color:blue;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
input,button{
  margin:10px 0
}
.list-group-item{
  margin: 5px;
  min-height: 80px;
  }



.clearReminders{
  margin:10px 0;
  cursor: pointer;
}